---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>🦉 Hello, Traveller!</h1>
			<p>
                Hello! I'm Nathakorn Jongklang, a Technical Artist with a passion for blending art and technology. 
                As a dedicated student at King Mongkut's University of Technology North Bangkok, 
                majoring in Computer Engineering, I have honed my skills in both artistic creativity and technical prowess.
            </p>
            <p>
                On this site, you’ll find a showcase of my work that spans across digital art, 3D modeling, animation, and coding. 
                My journey in the world of tech and art has allowed me to create visually stunning pieces that are powered by innovative technology. 
                Whether it’s crafting intricate designs or writing efficient code, I thrive at the intersection of these two disciplines.
            </p>
            <p>
                Explore my portfolio to see how I bring ideas to life through a unique blend of creativity and technical expertise. 
                Let’s embark on a journey through the dynamic world where art meets code.
            </p>
		</main>
		<Footer />
	</body>
</html>
